version: "3.9"

services:
  postgres:
    image: postgres:latest
    container_name: postgres_latest
    restart: unless-stopped

    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TZ: Asia/Kolkata
      PGTZ: Asia/Kolkata
    ports:
      - "${POSTGRES_PORT}:5432"

    volumes:
      # Persistent database data
      - ./data:/var/lib/postgresql

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

    shm_size: 256mb
